@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Poppins', sans serif;
	/* color: hsl(211, 100%, 60%); */
	/* color: hsl(120, 100%, 25%); */
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none;
}

@keyframes animateDown {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(5px);
	}

	60% {
		transform: translateY(3px);
	}
}
